In [1]:
import psycopg2
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Downloads/country_comparison_large_dataset(1).csv")
display(df)

In [ ]:
df.info()

In [ ]:
colunas_para_remover = [
    'Number of International Visitors (in Millions)', 'Tourism Revenue (in Billion USD)', 'Agricultural Land (%)', 'Labor Force Participation Rate (%)', 'CO2 Emissions (Million Metric Tons)', 'Forest Coverage (%)', 'Public Transport Usage (%)', 'Literacy Rate (%)', 'Education Expenditure as % of GDP', 'Internet Penetration (%)'
, 'Smartphone Adoption (%)', 'Energy Consumption (TWh)', 'Renewable Energy Share (%)', 'Number of Airports', 'Road Network Length (in km)', 'Human Development Index (HDI)'
]

df.drop(columns=colunas_para_remover, inplace=True)

display(df)

In [ ]:
colunas_traduzidas = {
    'Country': 'Pais',
    'Year': 'Ano',
    'GDP (in Trillions USD)': 'PIB em trilhoes USD',
    'GDP per Capita (in USD)': 'PIB per capita USD',
    'Inflation Rate (%)': 'Taxa de inflacao (%)',
    'Population (in Millions)': 'Populacao (em Milhoes)',
    'Population Growth Rate (%)': 'Taxa de Crescimento Populacional (%)',
    'Urban Population (%)': 'Populacao Urbana (%)',
    'Life Expectancy (Years)': 'Expectativa de vida',
    'Healthcare Expenditure per Capita (USD)': 'Gasto com saude per Capita',
    'Poverty Rate (%)': 'Taxa de pobreza (%)',
    'Unemployment Rate (%)': 'Taxa de desemprego (%)',
    'Crime Rate (per 100,000)': 'Taxa de criminalidade',
    'Corruption Perception Index': 'Indice de Percepcao Corrupcao',
    'Freedom of Press Index': 'Indice de liberdade de imprensa',
    'Voting Participation Rate (%)': 'Taxa de Participacao na Votacao (%)',
    'Doctor-to-Patient Ratio': 'Proporção de médico para paciente',
    'Military Expenditure (in Billion USD)': 'Gasto militar (em Bilhoes de USD)',
    'Number of Active Military Personnel': 'Número de militares ativos',
    'Gender Equality Index': 'Índice de Igualdade de Gênero'
}

df.rename(columns=colunas_traduzidas, inplace=True)

In [ ]:
df.info()

In [3]:
conn = psycopg2.connect(
    database = "Country",
    host = "localhost",
    user = "postgres",
    password = "1234",
    port = "5432"
)

cursor = conn.cursor()

print(conn.status)

1

In [ ]:
cursor.execute("""
CREATE TABLE Dados_Paises (
    Pais VARCHAR(50),
    Ano INTEGER,
    PIB_em_trilhoes_usd DECIMAL,
    PIB_per_capita_usd DECIMAL,
    Taxa_de_inflacao DECIMAL,
    Populacao_milhoes DECIMAL,
    Taxa_de_Crescimento_Populacional DECIMAL,
    Populacao_Urbana DECIMAL,
    Expectativa_de_vida DECIMAL,
    Gasto_com_saude_per_Capita DECIMAL,
    Proporcao_de_medico_para_paciente DECIMAL,
    Gasto_militar_bilhoes_usd DECIMAL,
    Numero_Militares_Ativos DECIMAL,
    Indice_Igualdade_Genero DECIMAL,
    Taxa_pobreza DECIMAL,
    Taxa_desemprego DECIMAL,
    Taxa_criminalidade DECIMAL,
    Indice_percepcao_corrupcao DECIMAL,
    Indice_liberdade_imprensa DECIMAL,
    Taxa_participacao_votacao DECIMAL
)
""")
conn.commit()

In [ ]:
for _, row in df.iterrows():
    cursor.execute("""
        INSERT INTO Dados_Paises (
            Pais, Ano, PIB_em_trilhoes_usd, PIB_per_capita_usd, Taxa_de_inflacao, 
            Populacao_milhoes, Taxa_de_Crescimento_Populacional, Populacao_Urbana, Expectativa_de_vida, 
            Gasto_com_saude_per_Capita, Proporcao_de_medico_para_paciente, Gasto_militar_bilhoes_usd, 
            Numero_Militares_Ativos, Indice_Igualdade_Genero, Taxa_pobreza, Taxa_desemprego, 
            Taxa_criminalidade, Indice_percepcao_corrupcao, Indice_liberdade_imprensa, Taxa_participacao_votacao
        ) VALUES (
            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
        )""", tuple(row))  

conn.commit()

In [ ]:
cursor.execute("SELECT * FROM Dados_Paises WHERE Ano = 2022")
result = cursor.fetchall()

for row in result:
    print(row)

In [5]:
dados = pd.read_sql("SELECT * FROM Dados_Paises", conn)
display(dados)

C:\Users\Roger\AppData\Local\Temp\ipykernel_7548\597351565.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dados = pd.read_sql("SELECT * FROM Dados_Paises", conn)

,pais,ano,pib_em_trilhoes_usd,pib_per_capita_usd,taxa_de_inflacao,populacao_milhoes,taxa_de_crescimento_populacional,populacao_urbana,expectativa_de_vida,gasto_com_saude_per_capita,proporcao_de_medico_para_paciente,gasto_militar_bilhoes_usd,numero_militares_ativos,indice_igualdade_genero,taxa_pobreza,taxa_desemprego,taxa_criminalidade,indice_percepcao_corrupcao,indice_liberdade_imprensa,taxa_participacao_votacao
0,China,2000,13.64,10060.0,2.43,1446.93,0.31,58.56,76.09,459.00,1.86,255.52,2045900.0,0.85,2.04,3.68,102.90,41.75,185.32,72.14
1,India,2000,2.98,2102.1,4.87,1313.76,1.04,34.09,68.78,76.07,0.86,70.01,1475768.0,0.66,22.25,7.31,245.25,40.12,136.36,67.65
2,Russia,2001,1.66,10890.0,3.00,152.10,0.10,71.56,69.99,529.73,3.94,62.50,1030000.0,0.73,11.97,4.58,520.00,28.83,151.65,62.73
3,USA,2002,21.17,67470.0,2.28,343.58,0.57,80.59,81.63,11055.00,2.50,732.73,1436400.0,0.99,10.36,3.83,288.60,71.35,43.42,69.34
4,Canada,2002,1.79,47932.0,1.94,35.56,0.95,77.84,85.18,5082.00,2.75,22.31,68310.0,0.99,9.79,5.45,832.80,70.60,15.33,62.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Russia,2022,1.56,10857.0,3.10,142.25,0.10,77.55,71.87,544.95,4.05,60.28,1026000.0,0.70,13.03,4.60,516.50,29.01,157.05,61.88
140,China,2022,13.92,9540.0,2.29,1398.00,0.29,62.82,75.93,451.80,1.84,269.87,2066400.0,0.84,2.04,3.54,101.70,43.97,174.34,73.94
141,Canada,2023,1.73,44804.0,1.88,35.59,0.93,83.11,79.17,5139.75,2.78,23.05,66015.0,0.98,9.24,5.44,800.80,72.37,15.52,62.28
142,India,2023,2.79,2070.6,4.70,1411.74,1.03,34.05,70.09,76.07,0.93,71.28,1428116.0,0.67,21.94,7.16,240.75,41.36,133.28,66.20
143,Australia,2023,1.27,51304.0,1.54,24.38,1.36,84.37,83.40,5434.00,3.53,26.40,58812.0,0.94,9.99,4.75,910.80,75.92,25.88,94.39

In [9]:
cursor.close()
conn.close()

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   pais                               144 non-null    object
 1   ano                                144 non-null    int64
 2   pib_em_trilhoes_usd                144 non-null    float64
 3   pib_per_capita_usd                 144 non-null    float64
 4   taxa_de_inflacao                   144 non-null    float64
 5   populacao_milhoes                  144 non-null    float64
 6   taxa_de_crescimento_populacional   144 non-null    float64
 7   populacao_urbana                   144 non-null    float64
 8   expectativa_de_vida                144 non-null    float64
 9   gasto_com_saude_per_capita         144 non-null    float64
 10  proporcao_de_medico_para_paciente  144 non-null    float64
 11  gasto_militar_bilhoes_usd          144 non-null    float64
 12  numero_militares_ativos            144 non-null    float64
 13  indice_igualdade_genero            144 non-null    float64
 14  taxa_pobreza                       144 non-null    float64
 15  taxa_desemprego                    144 non-null    float64
 16  taxa_criminalidade                 144 non-null    float64
 17  indice_percepcao_corrupcao         144 non-null    float64
 18  indice_liberdade_imprensa          144 non-null    float64
 19  taxa_participacao_votacao          144 non-null    float64
dtypes: float64(18), int64(1), object(1)
memory usage: 22.6+ KB